*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  background-color:black;
}

@font-face {
  font-family: 'newCiGX';
  src: url('fonts/newCiGX.woff2') format('woff2-variations'),
  url('fonts/newCiGX.woff') format('woff-variations'),
  url('fonts/newCiGX.ttf') format('truetype-variations');
}

:root{
	--wght:100;
	--color: white;
  --wght: 100;
}
body{
	font-family: 'newCiGX';
	font-style: regular;
	font-size: 30px;
	line-height: 1.5;
  margin-top: 0;
	margin-bottom: 2rem;
	color:  var(--color);
}
.part1{

}
.lz{
	position: fixed;
	display: block;
  margin-left: auto;
	left: 90px;
	top: 97px;
}


.man{
	position: fixed;
	display: block;
  margin-left: auto;
	left: 197px;
	top: 200px;
}



.woman{
	position: fixed;
	display: block;
  margin-left: auto;
	left: 480px;
	top: 462px;
}

.woman:hover{
	filter: brightness(0%) saturate(0%);
}

.stranger{
	position: fixed;
	display: block;
  margin-left: auto;
	left: 660px;
	top: 185px;
}

.stranger:hover{
	filter: brightness(0%) saturate(0%);
}

.what{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
	font-size: 0.8em;
	top:30px;
  margin-left: 970px;
  text-decoration:none;
	position:fixed;
}

.what:hover
{
	font-family: 'newCiGX';
font-variation-settings: 'wght' 900;
font-size: 1.3em;
transition-delay: : 13s;}

.are{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
	font-size: 0.8em;
	top:80px;
  margin-left: 1320px;
  text-decoration:none;
	position:fixed;
}

.are:hover
{
	font-family: 'newCiGX';
font-variation-settings: 'wght' 900;
font-size: 1.3em;}


.the{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
	font-size: 0.8em;
	top:300px;
  margin-left: 1530px;
  text-decoration:none;
	position:fixed;
}

.the:hover
{
	font-family: 'newCiGX';
font-variation-settings: 'wght' 900;
font-size: 1.3em;}

.missing{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
	font-size: 0.8em;
	top:620px;
  margin-left: 1220px;
  text-decoration:none;
	position:fixed;
}

.missing:hover
{
	font-family: 'newCiGX';
font-variation-settings: 'wght' 900;
font-size: 1.3em;}

.eye{
	display: block;
  margin-left: auto;
	top: 920px;
	width: 100px;
	left: 1480px;
	position: fixed;
}

.eye:hover{
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.parts{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
	font-size: 0.8em;
	top:1100px;
  margin-left: 1480px;
  width: 200px;
  text-decoration:none;
	position:absolute;
}

.parts:hover
{
	font-family: 'newCiGX';
font-variation-settings: 'wght' 900;
font-size: 1.3em;
	top:1000px;}


@font-face {
  font-family: 'newCiGX';
  src: url('fonts/newCiGX.woff2') format('woff2-variations'),
  url('fonts/newCiGX.woff') format('woff-variations'),
  url('fonts/newCiGX.ttf') format('truetype-variations');
}

:root{
	--wght:100;
	--color: white;
  --wght: 100;
}



.newCiGX, .newCiGX *{
	font-variation-settings: 'wght' var(--wght);
}

section{
	margin: 4rem 0;
}

#intro{
	font-size:20vw;
	line-height: 0.9;
	text-align: center;
  position: relative;
	left:-90px;
}

#content{
	width: 33em;
	height: 500px;
	margin: auto;
	font-size: 20px;
}

#content p{
	transition: font-variation-settings 400ms ease-in-out;
}

/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: '! ';
}

input.axis-range{
	width: 580px;
	margin: 0 20px;
}

.newCiGX, .newCiGX *{
	font-variation-settings: 'wght' var(--wght);
}

section{
	margin: 4rem 0;
}

#intro{
	font-size:12vw;
	line-height: 0.9;
	margin-left: 1000px;
  position: relative;
}

#content{
	width: 33em;
	height: 500px;
	top: 50px;
	margin-left: 950px;
	position: relative;


}

#content p{
	transition: font-variation-settings 400ms ease-in-out;
	font-size: 25px;
	width: 700px;
}

/*SLIDER STYLES*/

#sliders ul{
	margin-left: 800px;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: '! ';
}

input.axis-range{
	width: 280px;
	margin: 0 20px;
}


/*BUTTON STYLES*/

#buttons{
	margin-left: 985px;
}
button{
	font-family: 'newCiGX';
	font-variation-settings: 'wght' 300;
	font-size: 1em;
	outline: none;
	  color: white;s
}
button:hover{
	color: Chartreuse;
	cursor: pointer;
}
  .intro {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  margin-top: 70px;
  margin-left: 90px;
  line-height: 1.4;
  position: relative;
  z-index: 12;
}

h1 {
	font-family: 'newCiGX';
  font-size: 40px;
  color: white;
  text-align: center;
}

h2 {
	font-family: 'newCiGX';
	font-variation-settings: 'wght' 90;
  font-size: 40px;
  color: white;
  text-align: center;
	width: 800px;
	margin-left: 900px;
}

p {
	font-family: 'newCiGX';
  font-size: 40px;
  color: white;
  text-align: center;
}


/* NAVIGATION */
.misspt{
  font-family: 'newCiGX';
	font-variation-settings: 'wght' 300;
	font-size: 1em;
	background: Gainsboro;
	border-radius: 50%;
	outline: none;
	border: 2px solid black;
	padding: 1em;
  margin-left: 130px;
  width: 200px;
  text-decoration:
}
.misspt:hover{
	cursor: pointer;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
nav {
  display: flex;
}


.zl
{
	position: fixed;
	display: block;
  margin-left: auto;
	left: 90px;
	top: 97px;
}
