*{
	font-family: 'newCiGX';
	font-style: regular;
	font-size: 30px;
	line-height: 1.5;
  margin-top: 0;
	margin-bottom: 2rem;

}
body{
	font-family: 'newCiGX';
	width:100%;
	height: 100px;
	font-style: regular;
	font-size: 30px;
	line-height: 1.5;
  margin-top: 0;
	margin-bottom: 2rem;
	color:  var(--color);
	background-color: black;
	background-image: linear-gradient(to right, black, black, black, black, black, white);
	background-size: 300px 100px;
	height:100%;
}

.square{
	background-image: linear-gradient(to right, black, black, black, black, black, green);
	border-color: green;
	height: 980px;
	margin:10px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	margin-top:-220px;
	}

.eye{
	float: right;
	width: 100px;
  margin-left: auto;
	top: 920px;
	left: 1548px;
	position:fixed;
	transition: transform 1.2s ease-in-out;
	z-index: 1000;
}

.eye:hover{
	 transform: rotate(360deg);s
}

@font-face {
  font-family: 'newCiGX';
  src: url('fonts/newCiGX.woff2') format('woff2-variations'),
  url('fonts/newCiGX.woff') format('woff-variations'),
  url('fonts/newCiGX.ttf') format('truetype-variations');
}

:root{
	--wght:100;
	--color: white;
  --wght: 100;
}



.newCiGX, .newCiGX *{
	font-variation-settings: 'wght' var(--wght);
}

.question{
	margin-left: 50px;
	position: fixed;
	margin-top:200px;
}

p {
	font-family: 'newCiGX';
  font-size: 28px;
  color: white;
  text-align: left;
	right: 20px;
}

.globe{
	width: 45%;
	opacity: 0;
	transition: transform 2s ease-in-out;
	margin: auto;
	top: 130px;
	left: 500px;
	opacity:0.5;
	position:fixed;
}

.globe:hover{
	opacity: 1;
}

.sz{
	width: 7%;
	opacity: 0;
	transition: transform 2s ease-in-out;
	margin: auto;
	top: 463px;
	left: 820px;
	opacity:0.9;
	position:fixed;

}
.sz:hover{
	opacity: 1;
}

.bsz{
	width: 0.19%;
	opacity: 0;
	transition: transform 2s ease-in-out;
	margin: auto;
	top: 490px;
	left: 884px;
	opacity:0.7;
	position:fixed;

}
.bsz:hover{
	opacity: 1;
}

.ww{
	width: 0.15%;
	opacity: 0;
	transition: transform 2s ease-in-out;
	margin: auto;
	top: 490px;
	left: 886px;
	opacity:0.4;
	position:fixed;

}
.ww:hover{
	opacity: 1;
}

.manha{
	width: 1px;
	opacity: 0;
	transition: transform 2s ease-in-out;
	margin: auto;
	top: 490px;
	left: 886px;
	opacity:0.8;
	position:fixed;
	z-index: 900;

}
.mt:hover{
	opacity: 1;
}


	 .gg{
	   position: relative;
	   display: inline-block;
	   border-bottom: 1px dotted black;
	 }

	 .gg .texttext {
	   visibility: hidden;
	   width: 120px;
	   background-color: black;
	   font-size: 20px;
	 	color: chartreuse;
	   text-align: center;
	   border-radius: 6px;
	   position: absolute;
	   z-index: 1;
	   bottom: 125%;
	   left: 50%;
		 margin-left: 809px;
		 top:450px;
	   opacity: 0;
	   transition: opacity 0.3s;

	 }

	 .gg .texttext::after {

	   position: absolute;
	   top: 100%;
	   left: 50%;
	   margin-left: 105px;
	   border-width: 5px;
	   border-style: solid;
	   border-color: #555 transparent transparent transparent;
	 }

	 .gg:hover .texttext{
	   visibility: visible;
	   opacity: 1;
	 }


	 	 .ss{
	 	   position: relative;
	 	   display: inline-block;
	 	   border-bottom: 1px dotted black;
	 	 }

	 	 .ss .stext {
	 	   visibility: hidden;
	 	   width: 120px;
	 	   background-color: black;
	 	   font-size: 10px;
	 	 	color: lightblue;
	 	   text-align: center;
	 	   border-radius: 6px;
	 	   position: absolute;
	 	   z-index: 1;
	 	   bottom: 125%;
	 	   left: 50%;
	 	   margin-left: 809px;
			 top:520px;
	 	   opacity: 0;
	 	   transition: opacity 0.3s;

	 	 }

	 	 .ss .stext::after {

	 	   position: absolute;
	 	   top: 100%;
	 	   left: 50%;
	 	   margin-left: 105px;
	 	   border-width: 5px;
	 	   border-style: solid;
	 	   border-color: #555 transparent transparent transparent;
	 	 }

	 	 .ss:hover .stext{
	 	   visibility: visible;
	 	   opacity: 1;
	 	 }


		 .bb{
		 	position: relative;
		 	display: inline-block;
		 	border-bottom: 1px dotted black;
		 }

		 .bb .btext {
		 	visibility: hidden;
		 	width: 120px;
		 	background-color: black;
		 	font-size: 0.5px;
		  color: orange;
		 	text-align: center;
		 	border-radius: 6px;
		 	position: absolute;
		 	z-index: 1;
		 	bottom: 125%;
		 	left: 50%;
		 	margin-left: 803px;
		  top:489px;
		 	opacity: 0;
		 	transition: opacity 0.3s;

		 }

		 .bb .btext::after {

		 	position: absolute;
		 	top: 100%;
		 	left: 50%;
		 	margin-left: 105px;
		 	border-width: 5px;
		 	border-style: solid;
		 	border-color: #555 transparent transparent transparent;
		 }

		 .bb:hover .btext{
		 	visibility: visible;
		 	opacity: 1;
		 }


		 .www{
		  position: relative;
		  display: inline-block;
		  border-bottom: 1px dotted black;
		 }

		 .www .wtext {
		  visibility: hidden;
		  width: 210px;
		  background-color: black;
		  font-size: 0.5px;
		  color: green;
		  text-align: center;
		  border-radius: 6px;
		  position: absolute;
		  z-index: 1;
		  bottom: 125%;
		  left: 50%;
		  margin-left: 747px;
		  top:494px;
		  opacity: 0;
		  transition: opacity 0.3s;

		 }

		 .www .wtext::after {

		  position: absolute;
		  top: 100%;
		  left: 50%;
		  margin-left: 105px;
		  border-width: 5px;
		  border-style: solid;
		  border-color: #555 transparent transparent transparent;
		 }

		 .www:hover .wtext{
		  visibility: visible;
		  opacity: 1;
		 }

		 .mt{
			position: relative;
			display: inline-block;
			border-bottom: 1px dotted black;
		 }

		 .mt .mtext {
			visibility: hidden;
			width: 210px;
			background-color: black;
			font-size: 0.5px;
			color: lightskyblue;
			text-align: center;
			border-radius: 6px;
			position: absolute;
			z-index: 1;
			bottom: 125%;
			left: 50%;
			margin-left: 736px;
			top:492px;
			opacity: 0;
			transition: opacity 0.3s;

		 }

		 .mt .mtext::after {

			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: 105px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		 }

		 .mt:hover .mtext{
			visibility: visible;
			opacity: 1;
		 }


.fmap{
	width: 200px;
	margin: auto;
}

.fmap:hover{
	width: 2200px;
}

.buttons{
	margin:90px;
	margin-top: -110px;
	margin-left: 450px;
	position: fixed;
	z-index: 200;
}

.center{

}



	.draggable {
	    cursor: move;
	}

	.draggable > button {
	    background: none;
	    border: none;
	    font-family: "monobloc-sans";
	    font-size: 1rem;
	}

	.draggable > button:hover {
	    cursor: pointer;
	}

.question{
	margin-left:70px;
	margin-top:35px;
	position:fixed;
	z-index: 500;
}


  /* slider */
  input[type="range"] {
    -webkit-appearance: none;
   }

   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    border: black solid 1px;
    height: 5px;
    border-radius: 2.5px;
   }

   input[type="range"]::-moz-range-track {
    background: white;
    border: black solid 1px;
    height: 5px;
    border-radius: 2.5px;
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    border: black solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }

   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: white;
    border: black solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }



		 .parkk{
		  position: relative;
		  display: inline-block;
		  border-bottom: 1px dotted black;
		 }

		 .parkk .ptext {
		  visibility: hidden;
		  width: 210px;
		  background-color: black;
		  font-size: 18px;
		  color: green;
		  text-align: center;
		  border-radius: 6px;
		  position: absolute;
		  z-index: 1;
		  bottom: 125%;
		  left: 50%;
		  margin-left: 900px;
		  top:550px;
		  opacity: 0;
		  transition: opacity 0.3s;
		 }

		 .parkk .ptext::after {

		  position: absolute;
		  top: 100%;
		  left: 50%;
		  margin-left: 105px;
		  border-width: 5px;
		  border-style: solid;
		  border-color: #555 transparent transparent transparent;
		 }

		 .parkk:hover .ptext{
		  visibility: visible;
		  opacity: 1;
		 }

#field{
	margin-top:-220px;
}

div.marquee {
    white-space:no-wrap;
		width:1400px;
		margin-left:200px;
    overflow:hidden;
		hight:20px;
		z-index: 1000;
		margin-top:850px;
		position: absolute;
}
div.marquee > div.marquee-text {
    white-space:nowrap;
    display:inline;
    width:auto;
				z-index: 1000;
}

.ww1{
	width: 200px;
	position: absolute;
	z-index: 9000;
	right: 400px;
	top:360px;
	border: none;

}

.ww2{
	width: 200px;
	position: absolute;
	z-index: 9000;
	top:400px;
	left: 400px;
	border: none;
}
.ww3{
	width: 200px;
	position: absolute;
	z-index: 9000;
	top:80px;
	left: 770px;
}
.ww6{
	width: 200px;
	position: absolute;
	z-index: 9000;
	top:650px;
	left: 460px;
}
.ww5{
	width: 250px;
	position: absolute;
	z-index: 9000;
	top:660px;
	right: 400px;
}
